#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh);
  /* width: 100vw; */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  position: absolute;
  top: 97vh;
  left: 98.5vw;
}

.transparentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
